body {
  padding: 0;
  margin: 0;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cards_wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
}

.profiles{
  width: 100%;
  height: auto;
}

.card{
  background-color: #f5f5f5;
  width: 24%;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;

}
@media (max-width: 1250px) {
  .card {
    width: 32%
  }
}
@media (max-width: 830px) {
  .card {
    width: 48%
  }
}
@media (max-width: 550px) {
  .card {
    width: 100%
  }
}

.card_head_image{
  /* background-color: aquamarine; */
  height: 200px;
  /* width: 460px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_head_image img{
  max-height: 100%;
  max-width: 100%;
  align-items: center;
}

.card_body{
  background-color: #fff;
  /* width: auto; */
  /* height: 160px; */
  /* padding: 24px; */
}

.card_body_main {
  padding: 15px;
}
.card_body_main h3 {
  margin: 10px 0;
}

.card_body_detail div{
  display: flex;
  gap: 1rem;
  margin: 5px 0;
}

.buttons {
  background-color: #fafafa;
  border-top: 1px solid #e8e8e8;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.edit {
  border-left: 1px solid #e8e8e8 !important;
  border-right: 1px solid #e8e8e8 !important;
}
.buttons button{
  width: 100%;
  background-color: transparent;
  border: none;
}

.react-confirm-alert-overlay {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 1000 !important;
  height: 100% !important;
  background-color: rgba(0,0,0,.65) !important;
}

.modal {
  width: 520px;
  transform-origin: 77.8px 315.6px 0px;
  box-sizing: border-box;
  color: rgba(0,0,0,.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum","tnum";
  position: relative;
  width: auto;
  margin: 0 auto;
  padding: 0 0 24px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.main_modal {
  height: 410px;
  background: white;
  padding: 1rem;
  border-radius: 2px;
}
.modal_header {
  display: flex;
  justify-content: space-between;
  width: 520px;
  height: 10%;
  border-bottom: 1px solid #e8e8e8;
}
.modal_title{
  margin: 0;
  color: rgba(0,0,0,.85);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.modal_form{
  height: 80%;
  width: 502px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal_form div{
  margin: 0 0 24px;
  box-sizing: border-box;
  width: 500px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.modal_form div label {
  display: inline-block;
  white-space: nowrap;
  text-align: right;
  width: 33.33333%;
  color: rgba(0,0,0,.85);
  font-size: 14px;
}
.modal_form div input {
  display: inline-block;
  box-sizing: border-box;
  width: 66.66666667%;
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  height: 32px;
  line-height: 1.5;
}
.modal_form div input:focus {
  border-color: #40a9ff;
  border-right-width: 1px !important;
}
.modal_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  column-gap: 3px;
  height: 10%;
  border-top: 1px solid #e8e8e8;
}
.modal_footer div button{
  line-height: 1.499;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  box-shadow: 0 2px 0 rgba(0,0,0,.015);
  cursor: pointer;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  color: rgba(0,0,0,.65);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  margin-left: 8px;
}
.modal_footer div button:last-child {
  background-color: #1890ff;
  border-color: #1890ff;
  color: white;
}
.modal_footer div button:last-child:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}